/* General styling for both pages */

* {
  box-sizing: border-box;
}

body {
  border: solid 1rem midnightblue;
  background-color:ghostwhite;
  margin: 2rem;
  padding: 2rem;
  border-radius: .5rem;
}

.data {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: darkblue;
}

.text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:blue;
}

.highlights {
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  font-size: 1.15rem;
  color:hotpink;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  min-width: 0;
}

ul {
  list-style-type: disc;
  margin: 1rem;
  padding: 1rem;
}

li {
  font-size: 2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: darksalmon;
  font-weight: bolder;
  padding: 1rem;
}
header {
  font-size: 4rem;
  color:navy;
  margin: 2rem;
  padding: 2rem;
  text-align: center;
  border-bottom: solid .5rem midnightblue;
}

p {
  font-size: 1.5rem;
  font-weight: bold;
  color:navy;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
}

footer {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
}

footer a {
  margin-left: 8rem;
}
button {
  border: solid cornflowerblue;
  border-radius: .25rem;
  background-color:lightgray;
  padding: 1rem;
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: space-between;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 6rem;
  margin-bottom: 2rem;
  border-radius: .5rem;
  background-color:azure;
  box-shadow: 5px 10px 15px midnightblue;
}

a {
  border: none;
  color: midnightblue;
  text-decoration: none;
}

footer a:hover {
  color: deeppink;
  font-weight: bolder;
  font-size: 125%;
}

button:hover,
header a:hover {
  background-color: lightskyblue;
  color: crimson;
  cursor: pointer;
}

/* Styling for the Sales page */

h1 {
  font-size: 8rem;
  word-spacing: 12rem;
  padding: 3rem;
  margin-bottom: 2rem;
  border: solid .5rem cornflowerblue;
  background-color:azure;
  border-radius: .5rem;
  box-shadow: 10px 15px 20px midnightblue;
}

#table1, #table2 {
  display: table;
  border: solid .5rem cornflowerblue;
  padding: 2rem;
  margin: 2rem;
  background-color:azure;
  border-radius: .5rem;
  box-shadow: 5px 10px 15px midnightblue;
}

th {
  font-size: 1.25rem;
  font-family: 'Roboto Mono', monospace;
  color: crimson;
  font-weight: bold;
  margin: 1rem;
  padding: 1rem;
}

td:last-child {
  color: hotpink;
  font-size: 1.15rem;
}

tr th:hover {
  border-bottom: solid .15rem darkblue;
  border-top: solid .15rem darkblue;
  padding: .5rem;
}

tr:hover {
  background-color: lightskyblue;
}

thead th:hover {
  border-left: solid .15rem darkblue;
  border-right: solid .15rem darkblue;
  border-top: none;
  border-bottom: none;
  pad: .5rem;
}

td:hover {
  font-size: 1.25rem;
  font-weight: bolder;
  background-color:yellow;
}

tfoot td:hover,
td:last-child:hover {
  font-size: 1.25rem;
  color: deeppink;
}

table {
  padding-top: 1rem;
  word-break: break-all;
  min-width: 0;
}

td {
  border: solid .25rem cornflowerblue;
  padding: 1rem;
}
#t2Body td {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: darkblue;
  font-weight: normal;
  font-size: 1rem;
}

#t2Body td:hover {
  font-size: 1.25rem;
  font-weight: bolder;
  background-color: yellow;
}

/* Styling for the Main page */

#main-header {
  font-size: 8rem;
  word-spacing: 12rem;
  padding: 3rem;
  margin-bottom: 2rem;
  border: solid .5rem cornflowerblue;
  border-radius: .5rem;
  background-color:azure;
  box-shadow: 10px 10px 20px midnightblue;
}

h1 {
  margin-bottom: 2rem;
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
  color:navy;
  margin: 2rem;  
  border-bottom: double .5rem darksalmon;
  padding-bottom: 2rem;
}

h3 {
  font-size: 4rem;
  color:navy;
  margin: 2rem;
  text-align: center;
  border-bottom: double .5rem darksalmon;
  padding-bottom: 2rem;
}

h4 {
  font-size: 2rem;
  font-weight: bold;
  color:crimson;
  margin: 1rem;
  text-align: center;
}
article {
  font-size: 2rem;
  color:navy;
  text-align: center;
}

#div1 li {
  color:navy;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  font-size: 2.5rem;
}

/* This code doesn't actually link anywhere, but the idea is for each list item to be hotlinked to that store's own site */
#div1 li:hover { 
  cursor: pointer;
  font-size: 3rem;
  color:crimson;
  font-weight: bolder;
}

#div1 ul {
  list-style-image: url(/img/salmonBullet.png);
}

#div2 {
  border: solid .5rem cornflowerblue;
  background-color:papayawhip;
  padding: 2rem;
  margin: 2rem;
  flex: 100%;
  border-radius: .5rem;
  box-shadow: 10px 15px 20px midnightblue;
}

#div2 p{
  border: none;
  font-size: 3rem;
  font-weight: normal;
  color:rgb(2, 2, 168);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.25;
}

.pline {
  border-top: double .5rem darksalmon;
  width: 75%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#div3 {
  display: block;
}

#line {
  border: solid .25rem midnightblue;
  height: 550px;
  margin-right: 8rem;
}

#days {
  margin-bottom: 1.5rem;
  word-spacing: 1.5rem;
  font-size: 2.5rem;
  color: crimson;
  font-weight: bold;
}

#div4 p {
  border: none;
}

#email:hover {
  color: deeppink;
  font-weight: bolder;
}
