/* General styling for both pages */

* {
  box-sizing: border-box;
}

body {
  border: solid 1rem midnightblue;
  background-color:ghostwhite;
  color: navy;
  margin: 2rem;
  padding: 2rem;
  border-radius: .5rem;
}

.data {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: darkblue;
}

.text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:blue;
}

.highlights {
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  font-size: 1.15rem;
  color:hotpink;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

ul {
  list-style-type: disc;
  margin: 1rem;
  padding: 1rem;
}

li {
  font-size: 2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: darksalmon;
  font-weight: bolder;
  padding: 1rem;
}

header {
  font-size: 4rem;
  margin: 2rem;
  padding-bottom: 3rem;
  text-align: center;
  border-bottom: solid .5rem midnightblue;
}

p {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
}

footer {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
}

button {
  border: solid cornflowerblue;
  border-radius: .25rem;
  background-color:lightgray;
  padding: 1rem;
  color: navy;
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: .5rem;
  background-color:azure;
  box-shadow: 5px 10px 15px midnightblue;
}

a {
  color: navy;
  border: none;
  text-decoration: none;
}


/* Styling for the Sales page */

form {
  width: 960px;
}
fieldset {
  border: .5rem solid cornflowerblue;
  border-radius: .5rem;
  font-size: 2rem;
  margin: 4rem;
  padding: 2rem;
  display: block;
}

#formHeader {
  font-size: 3rem;
  text-align: center;
  color: crimson;
}

.labels {
  display: block;
  text-align: center;
}
input {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 75%;
  padding: 1rem;
  border: 2px solid midnightblue;
  border-radius: .25rem;
  font-size: 1rem;
  color: crimson;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

input:hover {
  border-width: 4px;
}

fieldset > button {
  width: fit-content;
  background-color: darkblue;
  border-color: crimson;
  color: yellow;
  margin: 1rem;
  margin-top: 2rem;
  padding: .5rem;
  margin-left: 13%;
}

fieldset > button:hover {
  background-color: black;
}

h1 {
  font-size: 8rem;
  word-spacing: 12rem;
  padding: 3rem;
  margin-bottom: 2rem;
  border: solid .5rem cornflowerblue;
  background-color:azure;
  border-radius: .5rem;
  box-shadow: 10px 15px 20px midnightblue;
}

#table1, #table2 {
  border: solid .5rem cornflowerblue;
  padding: 2rem;
  margin: 2rem;
  background-color:azure;
  border-radius: .5rem;
  box-shadow: 5px 10px 15px midnightblue;
}

th {
  font-size: 1.25rem;
  font-family: 'Roboto Mono', monospace;
  color: crimson;
  font-weight: bold;
  margin: 1rem;
  padding: 1rem;
}

td:last-child {
  color: hotpink;
  font-size: 1.15rem;
}

tr th:hover {
  border-bottom: solid .15rem darkblue;
  border-top: solid .15rem darkblue;
  padding: .5rem;
}

thead th:hover {
  border-left: solid .15rem darkblue;
  border-right: solid .15rem darkblue;
  border-top: none;
  border-bottom: none;
  pad: .5rem;
}

td:hover {
  font-size: 1.25rem;
  font-weight: bolder;
  background-color:yellow;
}

tfoot td:hover,
td:last-child:hover {
  font-size: 1.25rem;
  color: deeppink;
}

table {
  table-layout: fixed;
  padding-top: 1rem;
  word-break: break-all;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: darkblue;
}

tr:nth-child(even) {
  background-color:lavender;
}

td {
  border: solid .25rem cornflowerblue;
  padding: 1rem;
 
 
}
#t2Body td {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: darkblue;
  font-weight: normal;
  font-size: 1rem;
}

#salesTotals {
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  font-size: 1.25rem;
  color:hotpink;
}

#t2Body td:hover {
  font-size: 1.25rem;
  font-weight: bolder;
  background-color: yellow;
}

/* Styling for the Main page */

nav {
  display: flex;
  justify-content: space-evenly;
}

a:hover {
  color: deeppink;
  font-size: 2.5rem;
}

button:hover {
  background-color: lightblue;
  font-size: 2.5rem;
}
h1 {
  margin-bottom: 3rem;
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
  margin: 2rem;  
  border-bottom: double .5rem darksalmon;
  padding-bottom: 2rem;
}

h3 {
  font-size: 4rem;
  margin: 2rem;
  text-align: center;
  border-bottom: double .5rem darksalmon;
  padding-bottom: 2rem;
}

h4 {
  font-size: 2rem;
  font-weight: bold;
  color:crimson;
  margin: 1rem;
  text-align: center;
}
article {
  font-size: 2rem;
  text-align: center;
}

#div1 li {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  font-size: 2.5rem;
}

/* This code doesn't actually link anywhere, but the idea is for each list item to be hotlinked to that store's own site */
/* Now it works! */

#div1 a:hover { 
  cursor: pointer;
  font-size: 2.75rem;
  color: deeppink;
  font-weight: bolder;
}

#div1 ul {
  list-style-image: url(../img/chinook.jpg);
}

#div2 {
  border: solid .5rem cornflowerblue;
  background-color:papayawhip;
  padding: 2rem;
  margin: 2rem;
  border-radius: .5rem;
  box-shadow: 10px 15px 20px midnightblue;
}
.family {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#div2 p{
  border: none;
  font-size: 2rem;
  font-weight: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.25;
}

.pline {
  border-top: double .5rem darksalmon;
  width: 75%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#div3 {
  display: flex;
  flex-direction: column;
}

#div3 img {
  width: 200px;
  margin-left: 30%;
  margin-top: 3rem;
}

#line {
  border: solid .25rem midnightblue;
  height: 550px;
}

#days {
  margin-bottom: 1.5rem;
  word-spacing: 1.5rem;
  font-size: 2.5rem;
  color: crimson;
  font-weight: bold;
}

#div4 p {
  border: none;
  font-size: 1.5rem;
}

#email:hover {
  color: deeppink;
  font-size: 1.5rem;
  font-weight: bolder;
}

footer a:hover,
footer button:hover {
  color: deeppink;
}

.Alice,
.Alice a {
  transition: all 4s;
}

.Alice:hover,
.Alice a:hover {
  transform: rotate(360deg);
  background-color: black;
  color: yellow;
  cursor: pointer;
}